{{> header}}
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <form action="/login/procesarAlta">
        <!-- Username -->
        <label for="name">Username:</label>
        <input type="name">
        <!-- Password -->
        <label for="username">Password:</label>
        <p><a href="#">Forgot your password?</a>
            <input type="password">
        <div id="lower">
            <input type="submit" value="Login">
        </div>
    </form>
</div>
{{> footer}}